*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* TAGS */
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
body{
    background-color: #dddddd;
}
main{
    padding: 50px;
}
select{
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    border: none
}
/* CLASSES */
.my-container{
    width: 100%;
    min-height: 400px;
    margin: auto;
    padding : 50px;
    box-shadow: 0px 0px 25px #00000048;
    border-radius: 25px;
    background-color: white;
}
h1{
    font-weight: 600;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.cover-container{

}
.cover-container img{
    box-shadow: 0px 0px 20px #50505096;
    border-radius: 5px;
    width: 100%;
    min-height: 280px;
    object-fit: cover;

}
.album{
    cursor: pointer;
    padding: 25px;
    width: calc(100%);
    text-align: center;

}
.albums-container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 25px 0px;
}
.specs{
    margin: 10px 0 25px 0px;
}
.artist{
    color: gray;
}
.year{
    color: gray;
    font-weight: 100;
    font-size: 20px;
}
/* UTILITIES */
.inline-block{
    display: inline-block;
}
/* REPSONSIVENESS */

@media screen and (max-width:900px) {
    main{
        padding: 5px
    }
    h1{
        width: 100%;
    }
    .header{
        display: block;
    }
    .select{
        width: 75%;
    }  
}
@media screen and (min-width:701px){
    .album{
        width: calc(100% / 2);
    
    }
}
@media screen and (min-width:900px){
    .album{
        width: calc(100% / 3);
    
    }
}
@media screen and (min-width:1200px){
    .album{
        width: calc(100% / 3);
    
    }
}
@media screen and (min-width:1400px){
    .album{
        width: calc(100% / 5);
    
    }
}