*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* TAGS */
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    background-color: rgb(32, 32, 39);
    color: white;
}
main{
    padding: 50px;
}
select{
    color: white;
    background-color: teal;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    border: 0.5px solid rgba(128, 128, 128, 0.322);
}
/* CLASSES */
.my-container{
    width: 100%;
    min-height: 400px;
    max-width: 1200px;
    margin: auto;
    padding : 50px;
    box-shadow: 0px 0px 25px #000000b6;
}
h1{
    font-weight: 600;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 0.5px solid gray;
}
.cover-container img{
    box-shadow: 0px 0px 20px #50505096;
    border-radius: 5px;
    width: 100%;
    min-height: 280px;
    object-fit: cover;

}
.album{
    padding: 10px;
    width: calc(100%);
    text-align: center;

}
.albums-container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 25px 0px;
}
.specs{
    margin: 10px 0 25px 0px;
}
.artist{
    
}
.year{
    color: gray;
    font-weight: 100;
    font-size: 20px;
}
/* UTILITIES */
.inline-block{
    display: inline-block;
}
/* REPSONSIVENESS */
@media screen and (min-width:701px){
    .album{
        width: calc(100% / 2);
    
    }
}
@media screen and (min-width:900px){
    .album{
        width: calc(100% / 3);
    
    }
}
@media screen and (min-width:1000px){
    .album{
        width: calc(100% / 4);
    
    }
}